/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1;  font-family: 'Ubuntu';}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}



@media screen and  (min-width:360px){
	section .head_seccion h6{
		font-size: 3.4em!important;
	}

	nav div ul li a{
		font-size: 0.9em!important;
	}
}


// FUENTE
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
// FIN FUENTE
body{font-family: 'Ubuntu';}


// COLOR 
	@plomo: #4F4F4F;
// .COLOR

// MIXIN
.reset_padd{
	padding: 0;
	// margin: 0;
}

.fondo_secciones(@altura,@urls){
	height: @altura;
	background-image: url(@urls);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.formato_texto(@color,@size,@aling){
	color:@color;
	font-size: @size;
	text-align: @aling;
}


// FIN MIXIN
.height_auto{
	height: 55px;
}


// HEAD
#bg_head{
	background-image: url('../img/bg_top.png');
	background-repeat: repeat-x;
	background-size: cover;
	background-position: 50% 50%;
	height: 255px;
}

.cont_log_menu{
	height: 255px;
	position: relative;
}

.logo{
	position: relative;
	width: 217px;
	width: auto;
	text-align: center;
	margin: 30px 0 0 0;
}
.menu{
	min-height: 55px;
	max-height: 55px;
	width: 100%;
	background-image: url('../img/fondo_barra_menu.png');
	// background-color: @plomo;
	// border-top: 1px solid #FFF;
	vertical-align: bottom;
	// opacity: 0.7;
 	position: absolute;
	bottom:0px;
	right:0px;
	color: #FFF;
	vertical-align: middle;
	font-size: 1.2em;
	padding-top: 17px;
	overflow: hidden;
}


nav ul{
	display: table;
	position: relative;
	background:#000;
}

nav ul li {
	display: table-cell;
}

nav ul li a{
	color: #FFF!important;
	text-decoration: none!important;
	padding: 16px 0 16px 0;
}

nav ul li a:hover{
	color: #FFF;
	text-decoration: none;
}

nav ul li a:active {
	color: #FFF!important;
	text-decoration: none;
}

nav ul li a:visited {
	color: #FFF!important;
	text-decoration: none;
}

nav > ul > li > a span{
	width: 100%;
	height: 100%;
	background-color: @plomo;
	display: block;
	position: absolute;
	left: 0;
	top: -70px;
}

.spanover1{
	background-color: red;
}

.isotipo{
	margin-top: -9px;
	margin-left: 10px;
}

.isotipo>img{
	
	height: 35px;
	width: auto;

}


.bg1_seccion2{
	height: 828px;
	background-image: url('../img/pc.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}


.seccion_cont1{
	.fondo_secciones(828px,'../img/bg_seccion1.png')
	// height: 828px;
	// background-image: url('../img/bg_seccion1.png');
	// background-size: cover;
	// background-repeat: no-repeat;
	// background-position: center;
	// background-attachment: fixed;
}

.seccion_cont2{
	height: 828px;
	background-image: url('../img/bg_seccion2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

}

.seccion_cont3{
	height: 828px;
	background-image: url('../img/bg_seccion3.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

}

.carousel-indicators{
	color: @plomo!important;
}

.seccion_right_menu{

}

.menu-fixed{
	position: fixed;
	z-index: 1000;
	top:0;
}

.item img{
	width: 100%;
	height: auto;
}

.head_seccion h6{
	padding-top: 60px;
	font-size: 4em;
	color: #FFF;
	text-align: center;
	display: block;
}

.head_seccion h4{
	padding-top: 20px;
	font-size: 2em;
	color: #FFF;
	text-align: center;
	display: block;
}

.servicios_webs_cont{
	padding-top: 100px;
}

.item_serv{
	text-align: center;
}

.item_serv p{
	padding-top: 10px;
	.formato_texto(#FFF,1.3em,center);
}

#item_corp, #item_shop, #item_port{
	display: none;
}

